
/* General Styles */
@font-face {
  font-family: "Kimiya";
  src: url("../css/Caveat-VariableFont_wght.ttf") format("truetype");

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'kimiya';
  font-weight: bold;
}

.back{
  position: absolute;
  top: 20%;

  left: 0.5%;
}

body {
  background-size: cover;
  background-color: #2b0947 !important;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgb(90,20,159);
  background: linear-gradient(-45deg, rgba(90,20,159,0.75) 0%, rgba(127,52,158,0.75) 50%, rgba(90,20,159,1) 100%);
  border-radius: 10px;
  color: #45CFDD;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.023);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.form img {
  position: absolute;
  top: -75px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.form h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #45CFDD;
}

.form .input-group {
  position: relative;
}

.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.25rem;
  pointer-events: none;
  transition: 0.1s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #fff;
  font-size: 0.8rem;
}

.submit-btn {
  display: block;
  margin: 20px auto 30px;
  border: none;
  outline: none;
  background: #45CFDD;
  font-family: 'kimiya';
  font-size: 1.75rem;
  padding: 1.4rem 2.4rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: color .3s;
}

.submit-btn:hover {
  color: #f2e3db;
}

.forgot-pw {
  color: inherit;
  font-size: 1.25rem;
}
.forgot-pw:hover {
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
}
#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 768px) {
  .form {
    padding: 40px;
  }

  .form::before {
    width: 100%;
    height: 50%;
    transform: skewY(-26deg);
    transform-origin: top left;
  }

  .form img {
    top: -10px;
  }
}

@media (max-width: 576px) {
  .form {
    padding: 40px 20px;
  }

  .form::before {
    display: none;
  }

  .form img {
    top: -20px;
    left: calc(50% - 25px);
    width: 50px;
  }

  .form h2 {
    font-size: 1.5rem;
  }

  .form .input-group input {
    font-size: 0.9rem;
  }

  .submit-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
