@font-face {
  font-family: "Kimiya";
  src: url("../css/Caveat-VariableFont_wght.ttf") format("truetype");
}

.blur{
  filter: blur(5px);
  transition: filter 0.5s ease;
}

.finilization{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 90%;
  overflow: auto;
}

.imagebg {
  background-image: url(../img/train3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 60vh;
}
h1,
h4 {
  color: #fff;
  font-family: "Kimiya", sans-serif;
}

.login {
  position: absolute;
  top: 20%;

  right: 0.5%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: azure;
}

.back{
  position: absolute;
  top: 20%;

  left: 0.5%;
}
.navbar-nav .nav-link {
  font-size: 22px;
  margin-right: 50px;
  margin-top: 0px;
}
@media screen and (max-width: 760px) {
  .logo {
    font-size: 3px;
  }
  .imagebg {
    height: 20vh;
  }
}
.bg-container{
  background: rgb(27,6,42);
  background: linear-gradient(90deg, rgba(27,6,42,1) 0%, rgba(60,17,78,1) 45%, rgba(38,8,56,1) 71%);
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50px;
}
div > label {
  margin-top: 1.5rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #fff;
  font-family: "Kimiya", sans-serif;
}
.form-button {
  padding: 1rem 3rem 1rem 3rem;
  background-color: aqua;
  border-radius: 2rem;
  border-color: aqua;
  transition: background-color 1s, border-color 1s, color 1s;
  font-family: "Kimiya", sans-serif;
  margin-top: 1.5rem;
}
.form-button:hover {
  background-color: rgb(177, 177, 224);
  border-color: rgb(177, 177, 224);
  color: #fff;
}
form {
  border: 1px solid black;
  padding: 2rem 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
  background: rgb(40,12,54);
  background: linear-gradient(90deg, rgba(40,12,54,.75) 0%, rgba(42,11,55,.75) 45%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);;
}
#passengers {
  margin: 0.5rem;
}

.form-control {
  margin-top: 1.5rem;
}
.bg-container {
  background-color: #190329;
}

div.gallery {
  border: .5px solid #8abaeb;
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 30%;
}

div.desc {
  padding: 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

table {
  margin: 2rem auto;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  /* width: 700px; */
  border: 1px solid #ddd;
  overflow-x: auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){color: #fff}

