.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    background: linear-gradient(to right, rgba(109, 173, 229, 0.635), rgb(79, 17, 112))
    }
    .back{
        position: absolute;
        top: 20%;
      
        left: 0.5%;
      }

      .blur{
        filter: blur(5px);
        transition: filter 0.5s ease;
      }
      
      .form-inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50px;
      }
      .form-button {
        padding: 1rem 3rem 1rem 3rem;
        background-color: aqua;
        border-radius: 2rem;
        border-color: aqua;
        transition: background-color 1s, border-color 1s, color 1s;
        font-family: "Kimiya", sans-serif;
        margin-top: 1.5rem;
      }
      .form-button:hover {
        background-color: rgb(177, 177, 224);
        border-color: rgb(177, 177, 224);
        color: #fff;
      }
      form {
        border: 1px solid black;
        padding: 2rem 4rem;
        color: #fff;
        border-radius: 2rem;
        margin-top: 2rem;
        background: rgb(171, 74, 203);
        background: linear-gradient(
          90deg,
          rgba(197, 86, 235, 0.75) 0%,
          rgba(109, 173, 229, 0.75) 100%
        );
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
      }
      .form-control {
        margin-top: 1.5rem;
      }


      .plane, .hotel,.train{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 90%;
  overflow: auto;
}